@charset "UTF-8";

/* 共通部分
-------------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    /*本文の書体を左から順に適用していく*/
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;  /*下線や打ち消し線を指定*/
}
img {
    max-width: 100%; /*画像を原寸大で表示*/
}

/* BODY - HEADER
-------------------------------------- */
.page-header {
    display:flex; /*ヘッダー全てを横並びに指定*/
    justify-content: space-between;
}
.wrapper {
    max-width: 90%;
    margin: 0 auto;  /*ボックスを中央に配置*/
    padding: 0 4%;  /*スマートフォン向け余白の指定*/
}
.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex; /*ナビゲーションメニューも横並びに指定*/
    font-size: 1.25rem;
    text-transform: uppercase;  /*大文字指定*/
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {  /*カーソルを当てた時の装飾を指定*/
    color: #0bd;
}

/* BODY - HOME
-------------------------------------- */
.home-content {
    text-align: center; /*.wrapperクラスで定義したボックスを流用し、内側のインライン要素を中央揃えに指定する。*/
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
/* BODY - HOME - 見出し
-------------------------------------- */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal; /*文字の太さを指定。*/
}
/* BODY - HOME - ボタン
-------------------------------------- */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px; /*要素の角を角丸に指定。*/
    padding: 18px 32px; /*内側の余白を左右それぞれ指定（ボタン状にしている）。*/
}
.button:hover {
    background: #0090aa; /*カーソルを当てた時の挙動。
    インライン要素の指定は行っていないので、ボックス側の装飾（色）のみが変化する。*/
}

/* BODY - NEWS
-------------------------------------- */
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
/* BODY - NEWS - article
-------------------------------------- */
article {
    width: 74%;
}
.post-info {
    position: relative; /*親要素としての相対位置を指定する。*/
    padding-top: 4px;
    margin-bottom: 40px;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat { /*複数のクラスを同時に指定することもできる。*/
    margin-left: 120px;
}
.post-date {
    background: #0bd;
    border-radius: 50%; /*要素の角を丸にする、50%で正四半径になる。*/
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute; /*親要素に対しての絶対位置を指定。*/
    top: 0;
    padding-top: 10px;
}
.post-date span { /*post-dateクラスの内のspanタグで囲われた部分の装飾を指定。*/
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid; /*要素上部の枠線として、半透明の1本の実線に指定。*/
    padding-top: 6px;
    display: block;
    /*要素をブロック要素にする。この場合はpost-dateクラス(pブロック要素)内の一部の為、spanタグ(インライン要素)をブロック要素にしている。*/
    width: 60%;
    margin: 0 auto;
}

/* BODY - NEWS - sidebar
-------------------------------------- */
aside {
    width: 22%;
}
aside p {
    padding: 12px 10px;
}
.sub-menu {
    list-style: none; /*リストヘッドの●を非表示化*/
    margin-bottom: 60px;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    display: block;
    color: #432;
    padding: 10px;
}
.sub-menu a:hover {
    color: #0bd;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* 背景画像
-------------------------------------- */
.big-bg { /*クラスに指定し、他ページで使いまわせるようにする。*/
    background-size: cover; /*背景画像を比率を保ったまま、画面いっぱいに*/
    background-position: center top; /*横方向は中央に、縦方向は上寄せに指定*/
}
#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh; /*ビューポート（見ている画面の大きさ）に対して、比率を指定。*/
}
#home .page-title {
    text-transform: none; /*上流の"home"id側で、文字の変換を行わない設定に指定。*/
}
#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}

/* フッター
-------------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}