@charset "UTF-8";

/* 共通部分
-------------------------------------- */
section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero {
    background-image: url(../images/bread1.jpg);
    text-align: center;
    padding-top: 10vh;
}
.title {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
    font-weight: lighter;
}